{{#each proposals as |proposal|}}
<h1><b>{{proposal.project_title}}</b></h1>
<h3>Question 1: {{proposal.question_one}}</h3>
<h3>Question 2: {{proposal.question_two}}</h3>
<h3>Question 3: {{proposal.question_three}}</h3>


{{/each}}
