$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  width: 100%;
  height: 400px;
  background-image: url("../styles/../../images/moon_breath_4color.gif");
  background-repeat: no-repeat;
  background-size: contain;
}
